@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,700&family=Open+Sans:wght@300;400&family=Space+Mono&display=swap');


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header{
  box-shadow: inset 10px 10px black;
  position: sticky;
}
  body{
    position: relative;
    min-height: 1100px;
    background: linear-gradient(
    to right,
    #000000 0%,
    #c4c2c0 35%,
    whitesmoke 35%,
    whitesmoke 100%
  );
  }

  
.foot{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;   
  
  background-color: whitesmoke;
  
}

  
  img{
    border-radius: 100px;
    box-shadow: 1px 1px 1px 0px #aaa;
    
  }

  .links{
    
    background-color: whitesmoke;
    height: 100px;
    width: 50%;
    display: flex;
    float: right;
    flex-direction: column;
    position: sticky;
    justify-content: center;
    align-items:flex-end ;
    right: 0;
    position: fixed;
    
  }
  .links ul{
    display: flex;
    flex-wrap: wrap;
    margin-right: 80px;
  }

  .links li{
    display: inline-flex;
    margin: 30px;
    font-size: 18px;
    font-family:monospace;
    word-spacing: .5px;
    
  }

  .links li a{
    text-decoration: none;
    color: black;
  }

  .links li a:hover{
    color:rgb(132, 211, 211);
  }

  .right{
    /*
    width: 350px;
    height: 500px;
    background-color: #a9dce3fe;
    justify-content: center;
    display: flex;
    position: fixed;
    top:150px;
    left: 300px;
    box-shadow: -10px 10px 10px 0px rgb(88, 87, 87);
    float: left;
*/
width: 45%;
min-width: 350px;
max-width: 350px;
min-height: 400px;
max-height: 511px;
box-shadow: -10px 10px 10px 0px rgb(34, 33, 33);
background-color: #F5FEFD; 
background-image: url(./img/image/matrix-g20cb20be9_1920.jpg);
background-size: cover;
display: flex;
align-items: center;
justify-content: center;
padding: 20px;
border-radius: 8px;
color: rgb(255, 249, 249);
margin-left: -290px;
margin-top: 500px;
  }

  .right img{
    margin: 20px 0;
    margin-bottom: 25px;
    image-resolution: 300dpi;
  }

  .right #Quinn{
   font-weight: 900;
  font-family: Montserrat;
  }

  .slash{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 30px;
    left: 42%;
    width: 50px;
    border: .1px solid whitesmoke;
  }

  .box-title{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 50px;
    font-family: monospace;
    font-weight: 900;

   
  }

  .sec{

    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    

  }

.container{

  width: 50%;
  max-width: 50%;
  min-width: 35%;
  height: 625px;
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  
}

.left{
position:relative;
z-index: -1;
max-width: 45%;
 width: 45%;
 float: left;
 height: 700px;
 border-radius: 8px;
 
}

.content {
    text-align: center; 
   width: 100%;
    min-height: 500px;
  }

.white-tail{

  background-color: whitesmoke;
  z-index: 1000;
  position: absolute;
  display: flex;
  height: 3rem; 
  padding-bottom: 2.5rem;


display: inline-block;
min-width: 350px;
max-width: 350px;
background-color: rgb(255, 255, 255);
position:static;
justify-content: baseline;
display: flex;
position: absolute;
top: 770px;
border-radius: 8px;

}

.about-box{
  width: 50%;
  max-width: 50%;
  min-width: 35%;
  height: 625px;
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
  border: 4px solid black;
}

  .name{
    
    background-color: whitesmoke;
    display: flex;
    height: 100px;
    width: 50%;
    margin: 0;
    position: sticky;
    justify-content: center;
    align-items:flex-end ;
    left: 0;
    float: left;;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    position: fixed;
    
    
  }

  .blue-Box{
    display: inline-block;
    border: 5px solid blue;
    margin-right:8px;
  }
  .name_c {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items:baseline;
    margin-left:5px;
    font-family: Montserrat;
    font-size: 17px;
    float: left;
  }

  .name_c h4{
    font-family: monospace;
    font-size: 15px;
    font-family:monospace;
    word-spacing: .1px;
    font-weight: 100;
  }



  /*use linear gradiant for box shadow on infobox*/