
   *{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    
    
}

body{
    display: grid;
    position: fixed;
    min-height: 100vh;
    place-items:center;
    line-height: 1.6;
    background-color: rgb(42, 41, 41);
    font-family: sans-serif;
    right: 10%;
    background-image: url(/img/5172658.jpg);
    background-size:cover;
    animation: onLoad 1000ms ease;
    
}

#card2{
    position: fixed;
    left: 10%;
    top: 16%;
    color: whitesmoke;
    background-image: url(/img/vecteezy_abstract-blue-background-simple-design-for-your-website_6852804.jpg);
    height: 570px;
    padding:1rem 5rem;
}

.card{
   
    color: whitesmoke;
    background-image: url(/img/vecteezy_abstract-blue-background-simple-design-for-your-website_6852804.jpg);
    background-size: cover;
    padding:1rem 0 0;
    max-width: 45ch;
    min-width: 35ch;
    border-radius: .5rem;
    overflow:hidden;
    transition-delay: 200ms;
    transition:transform 500ms ease;
    margin-top: 25px;
    
}


.card:hover{
    transform: scale(1.10);
}


.card:hover .card-content{
    transform: translateY(0);
}

.card-content{
   position: relative;
   --padding:1.5rem;
    padding: 1.5rem;
    padding-bottom: 4.5rem;
    background: linear-gradient(
        hsl(0 0% 0%/0),
        hsl(0 0% 0%/.4) 20%,
        hsl(0 0% 0%/.2)
    );
    transform: translateY(70%);
    transition:transform 500ms ease ;
    transition-delay: 500ms;
   
}
.card-body{
    padding-top: 10px;
    padding-bottom: 20px;
    color: rgba(255, 255, 255, .82);
}
.title{
    position: relative;
    max-width: 100%;
    width: max-content;
    font-size: 27px;
}

.title::after{
    content: "";
    position: absolute;
    height: 4px;
    width: calc(100% + 1.5rem);
    left: -1.5rem;
    bottom: 0;
    background: hsl(0, 4%, 86%);
    transform:scaleX(0);
    transform-origin: left;
    transition:transform 500ms ease;
}

.card:hover .title::after{
    transform:scaleX(1);
}

.button{
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: black;
    background-color:  hsl(142, 90%, 61%);
    padding: 0.5em 1.25em;
    border-radius: 1rem;
    
}

#about{
    margin-left: 10px
}
.quinn-img{
    margin: 0;
    position: relative;
    left: 20%;
    height: 150px;
    width: 145px;
    bottom: 27%;
}
#line{
    position: relative;
    left: 40%;
    bottom: 0%;
    width: 50px;
}
.quinn-img img{
    border-radius:1000px;
    height: 180px;
}
.quinn-info{
    position: relative;
    top: 44%;
}
#name{
    position: relative;
    left: 20%;
    font-size: 2.5ch;
    padding-bottom: 20px;
    width: 200px;
    height: 55px;
    
    } 
    #job{
        position: relative;
        left: 14%;
        font-size: 2.5ch;
        padding-bottom: 20px;
        width: 200px;
    height: 55px;
        
    }
    #school{
        position: relative;
        left: 20%;
        font-size: 2.5ch;
        width: 220px;
        height: 55px;
    }
    

.contact-tab{
    position: relative;
    top: 26%;
    left: 31%;
    padding: 0em;
   
    
}


.button:hover,
.button:focus{
    background-color: antiquewhite;
    
}

@keyframes onLoad{
   
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
        }
}

@media screen and (max-width: 1100px) {
    #Contacts{
        position: fixed;
        visibility: hidden;
    }
    #Projects {
        position: fixed;
        visibility: hidden;
    }
    body{
        background-size: cover;
    }
    /*give quinn card buttons on the side (project and constacts)*/
  }








