body {
    background-color: white;
    margin: 0;
    padding: 0;
    display: grid;
    font-family: sans-serif;
    background-image:url(/3d-abstract-wave-pattern-background.jpg);
    background-size: cover;
}


.ProjCard {
    position: fixed;
    color: rgb(253, 253, 253);
    width: 350px;
    height: 290px;
    left: 10%;
    border-radius: 2rem;
    background-image:url(/img/vecteezy_abstract-blue-background-simple-design-for-your-website_6852804.jpg);
    background-size: cover;
    transition:transform 500ms ease;
}

.title{
    width: max-content;
    background-color: black;
    
}

.button{
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color:  hsl(142, 90%, 61%);
    padding: 0.4em 1.25em;
    border-radius: 1rem;
}

.ProjCard:hover{

    transform: scale(1.10);

}

#card1{
    
    left:60%;
    top: 10%;
    
}

#card2{
    position: fixed;
    top: 10%;   
}
#card3{
    position: fixed;
    bottom: 10%;   
}
#card4{
    position: fixed;
    bottom: 10%;  
    left: 60%; 
}
#home{
    display: flex;
    width: 50px;
    left:2%;
    top: 0%;
    justify-content: center;
}

.card-content {

    display: inline-block;
    position: relative;
    padding-right: 1.5rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
   
}


.title {
    position: relative;
    max-width: 100%;
    width: max-content;
    font-size: 27px;
    margin-left: 5rem;
    
    
}


.card-body {
    position: relative;
    margin-bottom: 3rem;
    padding-left: 1rem;

}

.button {
    position: relative;
    top: 100%;
    padding-left: 1.5rem;
    left: 40%;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color:  hsl(142, 90%, 61%);
    padding: 0.4em 1.25em;
    border-radius: 1rem;
}

.button:hover {
    background-color:  whitesmoke;
}