body {
    background-color: white;
    margin: 0;
    padding: 0;
    display: grid;
    font-family: sans-serif;
    background-image:url(/3d-abstract-wave-pattern-background.jpg);
    background-size: cover;
}


.ProjCard {
    position: fixed;
    color: whitesmoke;
    width: 350px;
    height: 290px;
    left: 10%;
    border-radius: 2rem;
    background-image:url(/img/vecteezy_abstract-blue-background-simple-design-for-your-website_6852804.jpg);
    background-size: cover;
    transition:transform 500ms ease;
}


.ProjCard:hover{

    transform: scale(1.10);

}

#card1{
    
    left:60%;
    top: 10%;
    
}

#card2{
    position: fixed;
    top: 10%;   
}
#card3{
    position: fixed;
    bottom: 10%;   
}


.card-content {

    display: inline-block;
    position: relative;
    padding-right: 1.5rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
   
}

.title {
    position: relative;
    max-width: 100%;
    width: max-content;
    font-size: 27px;
    margin-left: 5rem;
    
    
}


.card-body {
    position: relative;
    margin-bottom: 3rem;
    padding-left: 1rem;

}

.button {
    position: relative;
    top: 100%;
    color: aquamarine;
    padding-left: 1rem;
    left: 30%;
}